{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "rules": {
    // eslint
    "no-console": "error",
    "eol-last": ["error", "always"],
    "sort-imports": ["error", {
      "allowSeparatedGroups": true,
      "ignoreCase": true,
      "ignoreDeclarationSort": true,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }],

    // typescript
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-explicit-any": "off",

    // import
    "import/order": ["error", {
      "alphabetize": {
        "caseInsensitive": true,
        "order": "asc"
      },
      "groups": [
        ["index"],
        ["builtin", "external", "object"],
        ["internal", "parent", "sibling"],
        ["type"]
      ],
      "newlines-between": "always"
    }]
  },
  "overrides": [
    {
      "files": ["*.test.ts"],
      "rules": {
        "@typescript-eslint/no-empty-function": "off"
      }
    }
  ]
}
